<h1 class= "col l10 light-green-text valign-wrapper">
  <i class="medium material-icons">collections_bookmark</i>
  <%=Collection.model_name.human%>
</h1>
<div class= "center-align">
  <%if current_user.collections.count > 9%>
    <%=link_to "表彰式へ",games_sugosugi_path, class:"btn-large"%>
  <%end%>
</div>
<br>
<div class="row">
  <% @collections.each do |collection| %>
    <div class="card col s3 offset-s1">
      <div class="card-image col s8 push-s2">
        <%=image_tag collection.wanko.picture_url class:"activator"%>
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4 col s11">
        <%=collection.wanko.name%><i class="material-icons right col s1">more_vert</i>
        </span>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4"><%=collection.wanko.name%><i class="material-icons right">close</i></span>
        <p><%=collection.wanko.description%></p>
      </div>
    </div>
  <% end %>
</div>