<h1><%=t('defaults.title.edit', item: User.model_name.human)%></h1>      

<%= form_with(model: @user, local: true) do |form| %>
   <%= render 'shared/errors' ,object:@user %>
  <div class="field">
    <%= form.label :email%>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
<%= link_to t('defaults.show'), @user %> |
<%= link_to t('defaults.back'), users_path %>
