<h1>ユーザー修正</h1>

<%= form_with(model: @user, local: true) do |form| %>
   <%= render 'errors' ,user:@user %>
  <div class="field">
    <%= form.label :email%>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %>
