<h1 class= "light-green-text valign-wrapper">
  <i class="medium material-icons">people</i>
  <%=t('.title')%>
</h1> 
<div class="row">
  <div class ="col s8 offset-s2">
    <table class="centered">
      <thead>
        <tr>
          <th><h5><%=User.human_attribute_name(:name)%></h5></th>
          <th><h5><%=User.human_attribute_name(:collections)%></h5></th>
          <th colspan="3"></th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><h5><%=user.name%></h5></td>
            <td><h5><%= user.collections.count %>個</h5></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <br>
  <div class="center-align">
    <%= link_to t('defaults.login'), '/login', method: :get, class:"btn-large"%>
  </div>
</div>