<h1 class= "teal-text text-lighten-1 valign-wrapper">
  <i class="medium material-icons">people</i><%="遊んでくれた人たち"%>
</h1> 
<table>
  <thead>
    <tr>
      <th><%=User.human_attribute_name(:name)%></th>
      <th><%="コレクション数"%></th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.collections.count %>回</td>
        <%
=begin%>
 <td><%= link_to t('defaults.show'), user %></td>
        <td><%= link_to t('defaults.edit'), edit_user_path(user) %></td>
        <td><%= link_to t('defaults.destroy'), user, method: :delete, data: { confirm: t('defaults.message.destroy_confirm', item: User.model_name.human) } %></td> 
<%
=end%>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<div class="center-align">
  <%= link_to t('defaults.login'), '/login', method: :get, class:"btn-large"%>
</div>