<h1><%=t('defaults.title.index', item: User.model_name.human)%></h1> 

<table>
  <thead>
    <tr>
      <th><%=User.human_attribute_name(:email)%></th>
      <th><%=User.human_attribute_name(:name)%></th>
      
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td><%= user.name %></td>
        <td><%= link_to t('defaults.show'), user %></td>
        <td><%= link_to t('defaults.edit'), edit_user_path(user) %></td>
        <td><%= link_to t('defaults.destroy'), user, method: :delete, data: { confirm: t('defaults.message.destroy_confirm', item: User.model_name.human) } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('defaults.title.new', item: User.model_name.human), new_user_path %>
