<h1 class= "teal-text text-lighten-1 valign-wrapper">
  <i class="medium material-icons">account_circle</i>
  <%=t('defaults.title.new', item: User.model_name.human)%>
</h1>      
<div class="row">
  <%= form_with(model:@user, local: true) do |form| %>
  <%= render 'shared/errors' ,object:@user %>
  <div class="input-field">
    <%= form.label :email%>
    <%= form.text_field :email ,class:"validate"%>
  </div>

  <div class="input-field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="input-field">
    <%= form.label :password %>
    <%= form.password_field :password %>
  </div>

  <div class="input-field">
    <%= form.label :password_confirmation %>
    <%= form.password_field :password_confirmation %>
  </div>
  
  <br>
  <div class="input-field center-align">
  <%= form.submit class:"btn-large" %>
  </div>
  <% end %>
  <%= link_to t('defaults.back'), users_path,class:"btn blue-grey" %>
</div>
<a id="scale-demo-trigger" href="#!" class="btn right">Toggle Scale</a>
<a id="scale-demo" href="#!" class="btn-floating btn-large scale-transition"><i class="material-icons">add</i></a>