<h1 class= "light-green-text valign-wrapper">
  <i class="medium material-icons">account_circle</i>
  <%=t('defaults.title.new', item: User.model_name.human)%>
</h1>      
<div class="row">
  <%= form_with(model:@user, local: true) do |form| %>
  <%= render 'shared/errors' ,object:@user %>
  <div class="input-field">
    <%= form.label :email%>
    <%= form.text_field :email ,class:"validate"%>
  </div>

  <div class="input-field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="input-field">
    <%= form.label :password %>
    <%= form.password_field :password %>
  </div>

  <div class="input-field">
    <%= form.label :password_confirmation %>
    <%= form.password_field :password_confirmation %>
  </div>
  
  <br>
  <div class="input-field center-align">
  <%= form.submit class:"btn-large" %>
  </div>
  <% end %>
  <%= link_to t('defaults.back'), users_path,class:"btn blue-grey" %>
</div>
<div class="fixed-action-btn" onclick="btn1();">
    <a id="menu" class="btn-large btn-floating waves-effect waves-light"><i class="material-icons">help</i></a>
</div>
<div class="tap-target light-green lighten-2" data-target="menu">
    <div class="tap-target-content">
        <div class= "row teal-text text-darken-4">
        <h5 class= "col s12 offset-s3 offset-l1">新規登録</h5>
        <p>ログインするとわんこをコレクションできます</p>
        <p>メールを送ることはないので</p>
        <p>適当なメルアドでも大丈夫ですよ！</p>
        </div>
    </div>
</div>