<h1><%=t('defaults.title.show', item: User.model_name.human)%></h1>      

<p>
  <strong><%=User.human_attribute_name(:email)%>:</strong>
  <%= @user.email %>
</p>

<p>
  <strong><%=User.human_attribute_name(:name)%>:</strong>
  <%= @user.name %>
</p>

<%= link_to t('defaults.edit'), edit_user_path(@user) %> |
<%= link_to t('defaults.back'), users_path %>
