<div class="row top-description">
    <h1 class= "col l10 light-green-text">S O D A T E Y A</h1>
    <div class="col s12 l6  teal-text text-darken-4">
        <h5>ようこそ！</h5>
        <h5>ライフを使ってわんちゃんを育てよう！</h5>
        <h5>どんなわんちゃんになるかはあなたの育て方次第！？</h5>
        <h5>たくさん遊んで、ぜひコンプリートしてね！</h5>
    </div>	
    <div class="col s12 l6">
        <div class="center-align">
            <%= image_tag 'top_dog',size:'260x260' %>
            <h5 class="teal-text text-darken-4">ライフ</h5>
            <i class="small material-icons pink-text text-lighten-1 " id="life-mark">favorite favorite favorite favorite favorite favorite favorite favorite</i>
        </div>
    </div>
</div>
<div class="row osewa-wrapper">
    <div class="osewa">
        <%=image_tag 'dogfood',size:"130x130"%>
        <div class="osewa-content">
            <a>ごはん</a>
            <button id ="js-gohan" class="btn-floating waves-effect waves-light red"><i class="material-icons">add</i></button>
        </div>
    </div>
    <div class="osewa">
        <%=image_tag 'bath_dog',size:"130x130"%>
        <div class="osewa-content">
            <a>おふろ</a>
            <button id ="js-ohuro" class="btn-floating waves-effect waves-light red"><i class="material-icons">add</i></button>
        </div>
    </div>
    <div class="osewa">
        <%=image_tag 'sanpo_dog',size:"130x130"%>
        <div class="osewa-content">
            <a>さんぽ</a>
            <button id ="js-sanpo" class="btn-floating waves-effect waves-light red"><i class="material-icons">add</i></button>
        </div>
    </div>
    <div class="osewa">
        <%=image_tag 'sleep_dog',size:"130x130"%>
        <div class="osewa-content">
            <a>ねむる</a>
            <button id ="js-sleep" class="btn-floating waves-effect waves-light red"><i class="material-icons">add</i></button>
        </div>
    </div>
        <div class="col s12 l4 push-s5 push-l1">
            <div class = "osewa_finish valign-wrapper">
                <%= form_with(url:games_search_path,method: :get,remote:true)  do |f| %>
                <%=f.hidden_field :gohan_data,id:"submit-gohan"%>
                <%=f.hidden_field :ohuro_data,id:"submit-ohuro"%>
                <%=f.hidden_field :sanpo_data,id:"submit-sanpo"%>
                <%=f.hidden_field :sleep_data,id:"submit-sleep"%>
                <!-- Modal Trigger"  -->
                <%=f.submit "FINISH" ,class:"btn-large amber darken-2 z-depth-3"%>
                <%end%>
            </div>
        </div>
</div>
<!-- Modal Structure -->
<div id="kekka-modal" class="modal modal-fixed-footer">
    <div class="modal-content teal-text text-darken-4">
        <div class="row">
            <h3 class="amber-text text-darken-2 center-align">結果発表</h3>
            <div class = "kekka">
                <h5>ご飯をあげた数</h5>
                <h5 id="gohan-result">0</h5>
            </div>
            <div class = "kekka">
                <h5>お風呂に入った数</h5>
                <h5 id="ohuro-result">0</h5>
            </div>
            <div class = "kekka">
                <h5>散歩に行った数</h5>
                <h5 id="sanpo-result">0</h5>
            </div>
            <div class = "kekka">
                <h5>おやすみした数</h5>
                <h5 id="sleep-result">0</h5>
            </div>
        </div>
        <div id = "kekka-detail"></div>
    </div>
    <div class="modal-footer">
        <button class="modal-close btn-flat"  id = "js-restart">もういちどする</button>
    </div>
</div>
<div class="fixed-action-btn" onclick="btn1();">
    <a id="menu" class="btn-large btn-floating waves-effect waves-light"><i class="material-icons">help</i></a>
</div>
<div class="tap-target light-green lighten-2" data-target="menu">
    <div class="tap-target-content">
        <div class= "row teal-text text-darken-4">
        <h5 class= "col s12 offset-s3 offset-l1">遊び方</h5>
        <p>1.好きなお世話ボタン＋を押しておせわをします</p>
        <p>2.お世話が終わったらFINISHを押します</p>
        <p>ヒント：ライフを使い切る必要はないよ</p>
        </div>
    </div>
</div>
<%= javascript_include_tag "games.js" %>
