<h1 class= "light-green-text valign-wrapper">
<%=t('defaults.title.show', item: Wanko.model_name.human)%>
</h1>      
<p>
  <strong><%=Wanko.human_attribute_name(:id)%>:</strong>
  <%= @wanko.id %>
</p>

<p>
  <strong><%=Wanko.human_attribute_name(:name)%>:</strong>
  <%= @wanko.name %>
</p>

<p>
  <strong><%=Wanko.human_attribute_name(:picture)%>:</strong>
  <%= image_tag @wanko.picture_url %>
</p>

<p>
  <strong><%=Wanko.human_attribute_name(:description)%>:</strong>
  <%= @wanko.description %>
</p>

<%= link_to t('defaults.edit'), edit_wanko_path(@wanko) ,class:"btn  blue-grey"%>
<%= link_to t('defaults.back'), wankos_path ,class:"btn  blue-grey"%>
