<!DOCTYPE html>
<html>
  <head>
    <title>Sodateya</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<body>
<header>
  <%= render 'shared/header'%> 
</header>
<main>
  <div class="parallax-container">
    <%= render 'shared/flash_message'%>
    <div class="container">
        <%= yield %>
    </div>
  <div class="parallax"><%=image_tag "nohara.jpeg"%></div>
  </div>
</main>
<footer>
  <%= render 'shared/footer'%> 
</footer>
</body>
</html>
