<!DOCTYPE html>
<html>
  <head>
    <title>Sodateya</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<body>
  <header>
    <%= render 'shared/header'%> 
  </header>
  <main>
    <div class="container">
      <%= render 'shared/flash_message'%>
      <!-- Element Showed -->
<div class="fixed-action-btn" onclick="btn1();">
<a id="menu" class="btn-large btn-floating waves-effect waves-light"><i class="material-icons">help</i></a>
</div>
<!-- Tap Target Structure -->
<div class="tap-target light-green lighten-2" data-target="menu">
            <div class="tap-target-content">
              <div class= "row teal-text text-darken-4">
                <h5 class= "col s12 offset-s3 offset-l1">遊び方</h5>
                <p>1.好きなお世話ボタン＋を押してね</p>
                <p>2.お世話が終わったらお世話を終えるを押してね</p>
                <p>3.ライフを使い切る必要はないんだ</p>
              </div>
            </div>
</div>

      <%= yield %>
    </div>
  </main>
  <footer>
    <%= render 'shared/footer'%> 
  </footer>
</body>
</html>
